:root{
--Dark-Blue: hsl(209, 23%, 22%);
--Very-Dark-Blue: hsl(207, 26%, 17%);
--Very-Very-Dark-Blue-: hsl(200, 15%, 8%);
--Dark-Gray: hsl(0, 0%, 52%);
--Very-Light-Gray : hsl(0, 0%, 98%);
--White : hsl(0, 0%, 100%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 height: 100vh;
}
#root{
  height: 100vh;
}
.primary-dark{
  background-color:var(--Very-Dark-Blue);
  color:var(--Very-Light-Gray)o;
}
.secondary-dark{
  background-color: var(--Dark-Blue);
  color: var(--Very-Light-Gray);
}
.primary-light{
  background-color: var(--Very-Light-Gray);
  color: var(--Very-Very-Dark-Blue-);
}
.secondaary-light{
  background-color: white;
  color: var(--Very-Very-Dark-Blue-);
}

  


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#list{
  
  display: grid;
  grid-template-columns: repeat(4, 15%);
  gap: 2.5rem;
  grid-auto-rows: minmax(100px, 35%);

}
#details{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#link{
  text-decoration: none;
  color: black;
}
#card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  border-radius: 5px;

 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#image{
  height: 50%;
  width: 100%;

}
img{
  width: 100%;
  height: 100%;
}

#info{
  width: 100%;
  height: 50%;
  font-size: small;
  margin-left: 1rem;
}
#country-name{
  font-size:1rem;
}

#region{
  margin: 0;
  
}
#population{
  margin: 0;

}
#details{
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  
}
#data{
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
#border{
  display:flex;
  flex-direction: row;
}
#border-list{
  display: flex;
  flex-direction: row;
}
#border-country{
list-style: none;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
border-color: lightgray;
border: solid 1px lightgray;
width: 4rem;

margin:1rem;
text-align: center;
}

#flag-container{
  width: 50%;
  display: flex;
}
#flag{
  width: 80%;
  margin: auto;
  height: 80%;
}
#information{
  font-size:0.8rem;
}
#country-Name{
  font-size:1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.fact{
  margin-bottom: 0.5rem;
}
.fact-header{
  font-weight: bold;
}


